<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %green([%thread]) %highlight(%-5level) %logger{40} - %msg%n"/>
    <property name="LOG_FILE_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{40} - %msg%n"/>

    <springProfile name="develop,local">
        <include resource="console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="develop,local">
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>
        <include resource="slack-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>

        <logger name="LogByAop" additivity="false">
            <level value = "DEBUG" />
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>

        <logger name="BookController" additivity="false">
            <level value = "DEBUG" />
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>

        <logger name="ErrorControllerAdvice" additivity="false">
            <level value = "DEBUG" />
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ERROR"/>
            <springProfile name = "develop,production">
                <appender-ref ref="ASYNC_SLACK"/>
            </springProfile>
        </logger>

        <logger name="org.hibernate.SQL" additivity="false">
            <level value = "INFO" />
        </logger>
    </springProfile>
</configuration>
