<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIR" value="./logs"/>

    <!--콘솔에 출력-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]%-5level - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- slack error 전송 appender -->
    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-url"/>
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %.-500msg %n</pattern>
        </layout>
        <username>FLONEY_SERVER_ERROR</username>
        <iconEmoji>:anger:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/%d{yyyy-MM-dd}.%i.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]%-5level - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="LogByAop" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="BookController" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </logger>

    <logger name="ErrorControllerAdvice" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_SLACK"/>
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value = "INFO" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>
