name: CD 자동화 (운영 서버)

on:
  push:
    branches: 'feat/prod-oci-migration'

permissions:
  contents: read

env:
  AWS_S3_BUCKET: floney-server-build-bucket

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          submodules: true

      - name: 운영 환경 설정 추가
        run: |
          echo "${{ secrets.PROD_START_SH }}" | base64 --decode > ./script/start.sh

      - name: JDK 17 추가
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: AWS 인증
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_DEPLOY }}
          aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_KEY_DEPLOY }}
          aws-region: ap-northeast-2

      - name: gradlew에 실행 권한 부여
        run: chmod +x gradlew

      - name: 프로젝트 빌드
        run: ./gradlew clean build -x test

      - name: S3에 업로드
        run: aws deploy push --application-name floney-server
          --ignore-hidden-files
          --s3-location s3://$AWS_S3_BUCKET/floney-build/$GITHUB_SHA.zip --source .

      - name: EC2에 배포
        run: aws deploy create-deployment
          --application-name floney-server
          --deployment-config-name CodeDeployDefault.AllAtOnce
          --deployment-group-name floney-server-deploy-group
          --s3-location bucket=$AWS_S3_BUCKET,key=floney-build/$GITHUB_SHA.zip,bundleType=zip